
{% extends "layout.html" %}

{% block title %}Categorize Transactions - Firefly Categorizer{% endblock %}

{% block head %}
    {% include "components/index/head.html" %}
{% endblock %}

{% block content %}
    <div class="page-shell">
        {% include "components/index/hero.html" %}
        {% include "components/index/filters.html" %}
        {% include "components/index/transactions.html" %}
    </div>
{% endblock %}

{% block scripts %}
    {% include "components/index/scripts.html" %}
{% endblock %}
