    <style>
        {% include "components/train/head/base.css" %}
        {% include "components/train/head/info-panel.css" %}
        {% include "components/train/head/progress-panel.css" %}
        {% include "components/train/head/actions.css" %}
        {% include "components/train/head/theme-info.css" %}
        {% include "components/train/head/theme-progress.css" %}
        {% include "components/train/head/theme-actions.css" %}
        {% include "components/train/head/dark-mode.css" %}
        {% include "components/train/head/info-block.css" %}
        {% include "components/train/head/webhook.css" %}
    </style>
