<style>
    {% include "components/index/head/hero.css" %}
    {% include "components/index/head/panel.css" %}
    {% include "components/index/head/filters.css" %}
    {% include "components/index/head/mode-toggle.css" %}
    {% include "components/index/head/toggles.css" %}
    {% include "components/index/head/actions.css" %}
    {% include "components/index/head/loading.css" %}
    {% include "components/index/head/table.css" %}
    {% include "components/index/head/pagination.css" %}
    {% include "components/index/head/empty-state.css" %}
    {% include "components/index/head/inline-spinner.css" %}
    {% include "components/index/head/responsive.css" %}
    {% include "components/index/head/dark.css" %}
</style>
