<script>
    {% include "components/index/scripts/state.js" %}
</script>

<script>
    {% include "components/index/scripts/bootstrap.js" %}
    {% include "components/index/scripts/filters.js" %}
    {% include "components/index/scripts/render-schedule.js" %}
    {% include "components/index/scripts/categorize.js" %}
    {% include "components/index/scripts/fetch.js" %}
    {% include "components/index/scripts/change-page.js" %}
    {% include "components/index/scripts/render.js" %}
    {% include "components/index/scripts/pagination.js" %}
    {% include "components/index/scripts/table-meta.js" %}
    {% include "components/index/scripts/save.js" %}
</script>
